<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Cabo Trafalgar Mode 1 Web Interface</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.responsive.css" rel="stylesheet"/>
    <style type="text/css">
        body { padding-top: 40px; }
    </style>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Cabo Trafalgar Mode 1 Web Interface</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div id="connect">
                <div class="page-header">
                    <h2>Server Login</h2>
                </div>
                <form class="form-horizontal" id="connect_form">
                    <fieldset>
                        <div class="control-group">
                            <label>WebSocket URL</label>
                            <div class="controls">
                                <input name="url" id="connect_url" type="text" th:value="${invitation.player.game.server.url}"/>
                            </div>
                        </div>


                        <div class="form-actions" >
                            <button id="connect_submit" type="submit" class="btn btn-large btn-primary">Connect</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id="connected" style="display:none">

                <form class="well form-search" id="send_form">
                    <button class="btn" type="button" id="disconnect" style="float:right">Disconnect</button>
                </form>
                <div id="controls">

                </div>
            </div>
        </div>
        <div class="span4" style="display:none">
            <div class="page-header">
                <h2>Debug Log</h2>
            </div>
            <pre id="debug"></pre>
        </div>
    </div>
</div>

<!-- Scripts placed at the end of the document so the pages load faster -->
<script src="../js/jquery-1.7.2.min.js"></script>
<script src="../js/stomp.js"></script>
<script th:inline="javascript">//<![CDATA[
    $(document).ready(function() {
      $.each(allContent.player.controls, function( index, control ) {
        var controlElement = document.createElement("control"+ index);
        controlElement.appendChild(document.createTextNode(control.name));
        var controlDestination = '/topic/game/' + allContent.player.game.id + '/user/' + control.name.replace(/ /g, "_");;

      $("#controls").append(createButton(controlElement, control.name, function(){
          client.send(controlDestination, {}, "{ \"value\":1.00}");
        }, function() {
          client.send(controlDestination, {}, "{ \"value\":0.00}");
        }));

     });

      if(window.WebSocket) {
        var client;
        $("#connect_form").submit(function() {
          var url = $("#connect_url").val();
          var login = $("#connect_login").val();
          var passcode = $("#connect_passcode").val();


          client = Stomp.client(url);

          // this allows to display debug logs directly on the web page
          client.debug = function(str) {
            $("#debug").append(document.createTextNode(str + "\n"));
          };

          // the client is notified when it is connected to the server.
          client.connect(login, passcode, function(frame) {
            client.debug("connected to Stomp");
            $("#connect").fadeOut({ duration: "fast" });
            $("#connected").fadeIn();

          });
          return false;
        });

        $("#disconnect").click(function() {
          client.disconnect(function() {
            $("#connected").fadeOut({ duration: "fast" });
            $("#connect").fadeIn()
          });
          return false;
        });


        $("#connect_form").submit();
      } else {
        $("#connect").html("\
            <h1>Get a new Web Browser!</h1>\
            <p>\
            Your browser does not support WebSockets. This example will not work properly.<br>\
            Please use a Web Browser with WebSockets support (WebKit or Google Chrome).\
            </p>\
        ");
      }
    });

    function createButton(context, name, func1, func2){
      var button = document.createElement("input");
      button.type = "button";
      button.value = name;
      button.onfocus = func1;
      button.onblur = func2;
      button.style.height = "200px"
      button.style.width = "200px"
      return button;
    }

    var allContent = [[${invitation}]];
    //]]></script>

</body>
</html>